html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.link{
    text-decoration: none;
    color:inherit;
}
ul,ol,li{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
:root{
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);  
}