/* -----------   Mobile CSS  -------------  */

@media screen and (max-width:767px) {
    .mobile-menu-form{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        left: 0;
        top: 0;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 500ms linear, visibility 500ms linear;
    
    }
    .mobile-menu-wrapper{
        position: relative;
        padding-top:40px;
        padding-left: 40px;
        width: 428px; 
        height: 796px;
    }
    .is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        position: absolute;
    }
    .btn-open{
        background-color: transparent;
        border: none;
        width: 32px;
        height: 22px;
    }
    .btn-header-mobile{
        fill:#2E2F42;
    }
    
    .btn-close{
        position: absolute;
        top: 40px;
        right: 15px;
        border: none;
        background-color: transparent;
    }
    .btn-close-mobile{

        position: absolute;
        top: 28px;
        right: 11px;
        border: none;
        background-color: transparent;
    }
    .icon-btn-close{
        width: 15px;
        height: 15px;
        line-height: 0; 
        
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    
        transition: background-color 250ms linear;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .icon-btn-close:hover{
        background-color:#404BBF;
        outline: none; 
        fill: #FFFFFF;
    }
    .list-link{
        width: 100%;
        height: 100%;
        position: relative;
        top: 16px;
        margin-top: 16px;
    }
    .item-link-studio:not(:nth-last-child(3n)){
        margin-bottom: 40px;
    }
    .item-link-tel{
        margin-top: 284px;
        margin-bottom: 40px;
    }
    .item-link-email{
        margin-bottom: 48px;
    }
    
    
    .link-studio{
        display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color:#2E2F42;
        text-decoration: none;
    }
    /* .link-studio:hover{
        color: #4D5AE5;
    } */
    
    .link-studio-tel{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
    }
    .link-studio-email{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2E2F42;
        
    }
    .socila-links{
        display: flex;
        margin-top: 48px;
    }
    .socila-links{
        display: flex;
    }
    .social-list-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 56px;
    }
    .social-link-mobile{
        width: 40px;
        height: 40px;
        padding: 10px 8px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4D5AE5;
        fill: #F4F4FD;
    }
    .social-link-mobile:hover,
    .social-link-mobile:focus{
        background-color: #404BBF;
        cursor: pointer;
    }
    
}
