html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.link{
    text-decoration: none;
    color:inherit;
}
ul,ol,li{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
:root{
    --primary-color-text:#2E2F42; 
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
    --color-btn-hover:#404BBF;
    
    --card-set-gap: 24px;
    --portfolio-img-set-gar: 24px;
    --padding-top-set-img: 32px;
    --margin-bottom-set-img: 8px;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);  
}
.visually-hidden {
    /* position: absolute;
    width: 1px;card
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; */

        visibility: hidden;
        pointer-events: none;
        position: absolute;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

            /* HEADER Section  */
.header{
    padding: 24px 24px;     
}
.header-div{
    display: flex;  
}
.line-bottom{
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px
    rgba(46, 47, 66, 0.08), 0px 1px 1px
    rgba(46, 47, 66, 0.16), 
   0px 1px 6px rgba(46, 47, 66, 0.08)
}
.main-menu{
    display: flex;
    /* outline: 1px solid tomato; */
}
            /* всі елементи nav горизонтально  */
.container-menu{
    display: flex;
    align-items: center;  
    justify-content: space-between;   
}
        /* ul список */
.header-menu-list{
    display: flex;
}
        /* logo отступ */
.main-logo1{
    margin-right: 77px;
}
.contact-link{
    margin-left: auto;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.menu-contact{
    margin-left: auto;
}

            /* Fonts styles */
.main-logo1,
.footer-logo1{
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.main-logo2{
    color: var(--primary-color-title);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer-logo2{
    color: var(--primary-color-logo2);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

            /* MAIN SECTION  */
    /* < !-- Header Tittle --> */
    
.title-content{
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}
.main-title-item{
    margin-top: 0;
    margin-bottom: 48px;
   
    color:var(--primary-color-baground);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /* outline: 1px solid tomato; */
}
.btn{
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
   
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;

    padding: 16px 32px;
    border-radius: 4px;
    transition: background-color 650ms linear ;
}
.btn:hover,
.btn:focus{
    background-color: var(--color-btn-hover);
    outline: none;
}
       
            /* Description-title Section-1 */
.wrapper-tittle{
    display: flex;
    gap:24px;
    justify-content: center;
    /* margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap)); */
}
            /* What are we doing   < !-- Section-2 -->*/
.container-list{
    display: flex;
    flex-wrap: wrap;
}
.container-card-wokr:not(:nth-child(3n)){
    margin-right: 24px;
}

            /* EMPLOYEERS   < !-- Section-3 -->*/
.section-employees-content{
    background-color: #F4F4FD;
}
.employee-wrapper-content{
    background-color: #F4F4FD;
    margin: 0 auto;
}
.employees-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap)); */

    background-color: #F4F4FD;
}
.employees-list > .employee-card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    /* flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap); */
}
.employee-card:nth-child(-n+4){
    margin-right: 24px;
}
.employee-wrapper{
    padding-top: var(--padding-top-set-img);
    /* padding: 32px 16px; */
}
.h3-name{
    margin-bottom: var(--margin-bottom-set-img);
}
                /* Header Section */
.nav-link,
.portfolio-nav-items{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    cursor: pointer;

    color: var(--primary-color-text);
}
.nav-link:hover,
.portfolio-nav-items:hover{
    color:var(--primary-color-button);
}

.contact-link,
.main-text-about,
.main-job-title,
.portfolio-text-about{
    color: var(--primary-color-contact);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contact-link:hover{
    color:var(--primary-color-button);
}
.contact-link{
    display: flex;
}
            /* Section H2 */
.main-title-todo{
    color: var(--primary-color-text);
    text-align:center;
    
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    
    margin-bottom: 72px;
}
    /* отступи у блоку image */
.h3-goals,
.h2-type-app{
    margin-bottom: var(--margin-bottom-set-img);
 
}
.h3-goals,
.h3-name,
.h2-type-app{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

        /* Portfolio css */
.portfolio-btn-wrapper{
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 72px; 
}
.portfolio-content-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-btn-items{  
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);

    padding: 12px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #E7E9FC;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px
    rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
        /* кнопки отступи кроме последнего */
.btn-item:not(:last-child) {
            margin-right: 24px;
}
.portfolio-btn-items:hover{
    background-color:var(--color-btn-hover);
}
        /* Блок карти портфольо */
.portfolio-wrapper-img{
    /*  width: 50%; */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}
    /* ul */
.portfolio-items-img{
    display: flex;
    flex-wrap: wrap;
}
    /* li */
.portfolio-card-img{
    cursor: pointer;
    background: var(--primary-color-baground);
    
    position: relative;  
    display: block;
}
    /* рамка нижней части карточки */
.portfolio-description{
    border: 0.5px solid #F4F4FD;
}  
.portfolio-description:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
 
        /* відступи між блоками */
.portfolio-card-img:not(:nth-child(3n)){
    margin-right: 24px;
}
.portfolio-card-img:not(:nth-last-child(-n+3)){
    margin-bottom: 48px;
}
/* .card > .bankingApp{
  background-image: gradient(rgba(77, 90, 229, 0.1),
   rgba(77, 90, 229, 0.1)),
   url(/images/bankingApp.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #4D5AE5; */
   
.portfolio-description{
    padding-top: var(--padding-top-set-img);
    padding: 32px 0 32px 16px;
    
}

            /* Customers Section */
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    text-align:center;

    margin-bottom: 72px;
}

            /* Footer */
.footer{
     background-color: #2E2F42;
     padding-top: 100px;
     padding-bottom: 100px;
  
}
.footer-wrapper{
    display: flex;     
}
.main-footer-text,
.portfolio-footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
}
.wrapper-social-media{
    display: flex;
}
.wrapper-list-social-media{
   display: flex;
   /* align-items: stretch; */
}

/* --------------------------------------- */
